.address-map {
  width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
}

.address-map__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-top: 42px;
  margin-left: 30px;
}

.contacts {
  display: table;
  border-collapse: collapse;
  width: 60px;
  height: auto;
  margin: 0 auto;
  border: 1px solid;
}

.contacts__wrapper {
  display: table-row;
  min-height: 60px;
}

.mail-info__mail,
.address__destination {
  display: table-cell;
  vertical-align: top;
  min-width: 77px;
  font-size: 15px;
  line-height: 30px;
  border: 1px solid;
}

.button-feedback {
  display: block;
  box-sizing: border-box;
  width: 260px;
  height: 52px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: #444444;
  padding: 15px 0;
  margin: 39px auto;
  order: 1;
}

.map__desktop,
.map__tablet {
  display: none;
}

@media (min-width: 768px) {
  .address-map {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contacts {
    display: table-row;
    margin: 0;
    width: 100%;
  }

  .contacts__wrapper {
    display: table-cell;
    vertical-align: top;
    border: 1px solid;
  }

  .mail-info__mail,
  .address__destination {
    font-size: 17px;
  }

  .mail-info__info {
    width: 258px;
    padding-right: 58px;
  }

  .map__tablet {
    display: block;
    margin-left: -52px;
  }

  .map__mobile {
    display: none;
  }
}

@media (min-width: 1150px) {
  .address-map {
    flex-direction: column;
    align-content: space-between;
    height: 525px;
  }

  .button-feedback {
    order: 0;
  }

  .contacts {
    display: table;
    margin: 0;
    width: 60px;
  }

  .contacts__wrapper {
    display: table-row;
    vertical-align: top;
    border: 1px solid;
  }

  .mail-info__mail,
  .address__destination {
    font-size: 17px;
  }

  .map__mobile,
  .map__tablet {
    display: none;
  }

  .map__desktop {
    display: block;
  }
}
