.address-map {
  width: 320px;
  height: auto;
  margin: 0 auto;
  margin-top: 28px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.address-map__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 28px;
}

.contacts {
  display: table;
  border-collapse: collapse;
  width: 60px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}

.contacts__wrapper {
  display: table-row;
}

.mail-info__mail,
.address__destination {
  display: table-cell;
  vertical-align: top;
  min-width: 77px;
  height: 60px;
  font-size: 15px;
  line-height: 30px;
}

.mail-info__info {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #62d1ba;
  }
}

.button-feedback {
  display: block;
  box-sizing: border-box;
  width: 260px;
  height: 52px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: #444444;
  padding: 15px 0;
  margin: 31px auto;
  order: 1;
  border: 2px solid;
}

.map__desktop,
.map__tablet {
  display: none;
}

@media (min-width: 768px) {
  .address-map {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    flex-wrap: nowrap;
  }

  .address-map__title {
    margin-left: -3px;
    font-size: 43px;
    line-height: 82px;
    position: relative;
    margin-bottom: 32px;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 47px;
      height: 82px;
      background: url("../img/icon-flag.svg") no-repeat center center;
    }
  }

  .contacts {
    display: flex;
    margin: 0;
    margin-bottom: 48px;
    width: 100%;
    height: 100px;
  }

  .contacts__wrapper {
    display: flex;
    vertical-align: top;
    width: 90%;
  }

  .mail-info__mail,
  .address__destination {
    font-size: 17px;
    height: auto;
    min-width: 75px;
  }

  .map__tablet {
    display: block;
    margin-bottom: 0;
    margin-left: -50px;
  }

  .map__mobile {
    display: none;
  }

  .button-feedback {
    box-sizing: border-box;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .map {
    margin-bottom: 54px;
  }
}

@media (min-width: 1150px) {
  .address-map {
    height: 458px;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 102px;
    flex-wrap: wrap;
    padding-left: 60px;
  }

  .address-map__title {
    width: 410px;
    padding-left: 114px;
    font-size: 53px;
    margin-top: 60px;

    &::after {
      left: 5px;
    }
  }

  .button-feedback {
    order: 0;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: 115px;
    margin-right: 0;
  }

  .contacts {
    display: table;
    margin: 0;
    margin-left: 114px;
    width: 70px;
  }

  .contacts__wrapper {
    display: table-row;
    vertical-align: top;
    height: 60px;
  }

  .mail-info__mail,
  .address__destination {
    font-size: 17px;
  }

  .map__mobile,
  .map__tablet {
    display: none;
  }

  .map {
    margin-left: -60px;
  }

  .map__desktop {
    display: block;
  }
}
