.main-nav {
  width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.main-nav__list {
  li {
    border-bottom: 1px solid #ececec;
    text-align: left;
    padding-left: 75px;
    height: 79px;
    display: flex;
    box-sizing: border-box;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: -50px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    width: 348px;
    position: relative;
    border-right: 1px solid;
  }

  .main-nav__list {
    li {
      text-align: left;
      border-bottom: none;
    }
  }
}

@media (min-width: 1150px) {
  .main-nav {
    margin: 0;
  }
}
