.main-nav {
  width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.main-nav--opened .main-nav__list {
  li {
    text-align: left;
    height: 79px;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
  }

  li:last-child {
    border-bottom: none;
  }
}

.main-nav--opened .main-nav__toggle {
  display: block;
  position: absolute;
  top: -50px;
  right: 30px;
  border: none;
  padding: 0;
  background-color: #ffffff;
  width: 23px;
  height: 23px;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    cursor: pointer;
    background: url("../img/icon-menu-close.svg") no-repeat center center;
  }
}

@media (max-width: 767px) {
  .main-nav--close .main-nav__toggle {
    position: absolute;
    top: -49px;
    right: 30px;
    width: 23px;
    height: 23px;
    padding: 0;
    border: none;
    background-color: #ffffff;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 21px;
      cursor: pointer;
      background: url("../img/icon-menu-open.svg") no-repeat center center;
    }
  }

  .main-nav--close .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;

    li {
      text-align: left;
      height: 79px;
      display: flex;
      box-sizing: border-box;
      border-bottom: 1px solid #ececec;
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

@media (min-width: 768px) {
  .main-nav--opened .main-nav__list {
    li {
      border: none;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    width: 348px;
    position: relative;
  }

  .main-nav__list {
    li {
      text-align: left;
      border-bottom: none;
    }
  }
}

@media (min-width: 1150px) {
  .main-nav {
    margin: 0;
    width: 350px;
  }
}
