.order-form {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.order-form__comments {
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 260px;
}

.order-form__title-wrapper {
  width: 100%;
  height: 172px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  background-color: #f1f1f1;
  display: flex;
  position: relative;
}

.order-form__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  margin: auto;
  height: 30px;
  min-width: 260px;
}

@media (min-width: 768px) {
  .order-form {
    width: 100%;
    box-sizing: border-box;
  }

  .order-form__comments {
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 57px;
    width: 668px;
  }

  .order-form__title-wrapper {
    width: 100%;
    height: 237px;
    margin: 0;
    margin-bottom: 61px;
    padding: 0;
    background-color: #f1f1f1;
    display: flex;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -20px;
      left: 0;
      height: 34px;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
    }
  }

  .order-form__title {
    font-size: 43px;
    line-height: 50px;
    height: 50px;
  }
}

@media (min-width: 1150px) {
  .order-form {
    width: 100%;
  }

  .order-form__comments {
    margin: 0 auto;
    margin-bottom: 57px;
    padding: 0;
    padding-left: 225px;
    padding-right: 225px;
    font-size: 17px;
    line-height: 30px;
    box-sizing: border-box;
    width: 1150px;
  }

  .order-form__title-wrapper {
    height: 265px;
    margin-bottom: 111px;
  }

  .order-form__title {
    font-size: 53px;
    line-height: 57px;
    margin: auto;
    margin-top: 93px;
    height: 57px;
  }
}
