.order-form {
  display: block;
  width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.order-form__comments {
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 25px;
}

.order-form__title-wrapper {
  width: 100%;
  height: 172px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  background-color: #f1f1f1;
  display: flex;

  svg {
    display: none;
  }
}

.order-form__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  margin: auto;
  height: 30px;
}

@media (min-width: 768px) {
  .order-form {
    width: 768px;
    box-sizing: border-box;
  }

  .order-form__comments {
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 57px;
  }

  .order-form__title-wrapper {
    width: 100%;
    height: 237px;
    margin: 0;
    margin-bottom: 61px;
    padding: 0;
    background-color: #f1f1f1;
    display: flex;
    position: relative;

    svg {
      display: block;
      position: absolute;
      bottom: -6px;
      left: 0;

      path {
        fill: #ffffff;
      }
    }
  }

  .order-form__title {
    font-size: 43px;
    line-height: 50px;
    height: 50px;
  }
}

@media (min-width: 1150px) {
  .order-form {
    width: 1150px;
  }

  .order-form__comments {
    margin-left: 225px;
    padding: 0 0;
    padding-right: 200px;
    font-size: 17px;
    line-height: 30px;
    box-sizing: border-box;
  }

  .order-form__title-wrapper {
    height: 265px;
    margin-bottom: 111px;
  }

  .order-form__title {
    font-size: 53px;
    line-height: 57px;
    margin: auto;
    margin-top: 93px;
    height: 57px;
  }
}
