.page-footer {
  box-sizing: border-box;
  width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #f1f1f1;
}

.page-footer__social {
  height: 80px;
  width: 100%;
  display: flex;
}

.social__list {
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
  width: 140px;
  height: 30px;
  justify-content: space-between;
}

.social__item {
  height: 30px;
}

.social__item svg {
  line-height: 30px;
  vertical-align: middle;
}

.page-footer__academy {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  border-top: 1px solid #e5e5e5;
  height: 79px;
  width: 100%;
}

.academy-logo path {
  fill: #63d1bb;
}
