.page-main-catalog {
  width: 320px;
  height: auto;

  margin: 0 auto;
  padding: 0;
}

.product-catalog__wrapper-title {
  width: 320px;
  height: 177px;
  background-color: #f1f1f1;
  display: flex;
}

.product-catalog__title {
  margin: auto;
  display: inline-block;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
}
