.page-header {
  position: relative;
  width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.page-header__logo-wrapper {
  display: flex;
  width: 320px;
  height: 79px;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  display: flex;
  margin: auto;
  padding: 0;
}

.page-header__logo-image {
  margin: auto;
}

.page-header__delivery {
  display: none;
}

@media (min-width: 768px) {
  .page-header {
    width: 768px;
    height: 88px;
    padding: 0 50px;
    border-bottom: 1px solid #dfdfdf;
    flex-wrap: nowrap;
  }

  .page-header__logo-wrapper {
    border-bottom: none;
    height: 86px;
  }

  .page-header__logo {
    margin: auto 0;
    width: 113px;
    height: 46px;
    background: url("../img/logo-tablet.svg") no-repeat center center;

    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }

  .page-header__logo img {
    display: none;
  }

  .page-header__delivery {
    display: block;
    position: absolute;
    right: 48px;
    top: 90px;
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: 1150px) {
  .page-header {
    width: 1150px;
    display: flex;
    justify-content: flex-end;
  }

  .page-header__logo-wrapper {
    margin: 0;
    width: 30%;
  }

  .page-header__logo {
    display: block;
    margin-left: 65px;
    width: 149px;
    height: 72px;
    background: url("../img/logo-desktop.svg") no-repeat center center;
  }
}
