.product-catalog {
  width: 320px;
  height: auto;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.product-catalog__wrapper-title {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: block;
  margin-bottom: 34px;
  position: relative;
  box-sizing: border-box;
}

.product-catalog__wrapper-title__inner {
  width: 320px;
  height: 170px;
  display: flex;
  margin: 0 auto;
}

.product-catalog__title {
  margin: auto;
  display: inline-block;
  height: 30px;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
}

.product-catalog__list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .product-catalog {
    width: 768px;
    padding: 0 50px;
    margin-bottom: 50px;
  }

  .product-catalog__wrapper-title {
    width: 100%;
    height: auto;
    margin-bottom: 65px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -20px;
      left: 0;
      height: 34px;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
    }
  }

  .product-catalog__wrapper-title__inner {
    width: 768px;
    height: 240px;
    display: flex;
    padding: 0 50px;
  }

  .product-catalog__title {
    font-size: 43px;
    line-height: 50px;
    height: 50px;
  }

  .product-catalog__list {
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: 1150px) {
  .product-catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product-catalog {
    width: 1150px;
    margin-bottom: 55px;
  }

  .product-catalog__wrapper-title {
    height: 265px;
    margin-bottom: 118px;
  }

  .product-catalog__title {
    font-size: 53px;
    line-height: 57px;
    margin: auto;
    margin-top: 95px;
  }
}
