.production-process {
  width: 260px;
  height: 501px;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 60px;
  border: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  img {
    margin-bottom: 25px;
  }
}

.video-mobile {
  display: block;
  margin-left: -30px;
}

.video-tablet,
.video-desktop {
  display: none;
}

.production-process__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  padding-left: 60px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 23px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 32px;
    height: 22px;
    background: url("../img/icon-video.svg") no-repeat center center;
  }
}

.production-process__comments {
  font-size: 13px;
  line-height: 24px;
  padding-left: 5px;
  padding-right: 5px;
}

.button-order__process {
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  margin: 27px auto;
  padding: 16px;
  display: block;
  box-sizing: border-box;
  width: 190px;
  height: 52px;
  border-width: 2px;
}

@media (min-width: 768px) {
  .production-process {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 65px;
  }

  .video-tablet {
    display: block;
    margin-left: -30px;
  }

  .video-mobile,
  .video-desktop {
    display: none;
  }

  .production-process img {
    width: auto;
    height: auto;
    order: -1;
  }

  .production-process__title {
    padding-left: 75px;
    font-size: 20px;
    margin-top: 13px;
    margin-bottom: 15px;

    &::before {
      left: 10px;
      top: 0;
    }
  }

  .production-process__comments {
    font-size: 15px;
    line-height: 30px;
    padding: 0;
    padding-left: 10px;
    margin-bottom: 8px;
  }

  .button-order__process {
    width: 97%;
    margin-bottom: 45px;
  }
}

@media (min-width: 1150px) {
  .production-process {
    flex-direction: column;
    height: 455px;
    margin-bottom: 103px;
  }

  .button-order__process {
    width: 230px;
    margin-left: 55px;
    margin-top: 35px;
  }

  .production-process__comments {
    width: 230px;
    margin-left: 40px;
  }

  .video-desktop {
    display: block;
    margin-left: -30px;
  }

  .video-mobile,
  .video-tablet {
    display: none;
  }

  .production-process img {
    width: 683px;
  }

  .production-process__title {
    margin-top: 95px;
    margin-left: 52px;
    padding-left: 0;
    width: 200px;

    &::before {
      left: 0;
      top: -50px;
    }
  }
}
