.your-comments {
  width: 320px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 30px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
}

.your-comments__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.comments-one {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.your-comments__paginator {
  height: 50px;
  width: 100%;
  padding: 0;
  border: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
  box-sizing: border-box;
}

.your-comments__paginator-left,
.your-comments__paginator-right {
  display: flex;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: auto;

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin: auto;

    &:hover polygon {
      fill: rgba(0, 0, 0, 0.6);
    }

    &:active polygon {
      fill: rgba(0, 0, 0, 0.3);
    }
  }

  svg {
    margin: 0;
  }
}

.your-comments__paginator-left {
  border-right: 1px solid #ececec;
}

.your-comments__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-top: 22px;
  display: block;
}

.your-comments__mail {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
  display: block;
}

.button-comments {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  display: block;
  height: 52px;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  border-width: 2px;
}

@media (min-width: 768px) {
  .your-comments {
    width: 115%;
    height: 458px;
    margin-left: -7.5%;
    margin-bottom: 65px;
    padding: 0 50px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left center;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px;
    }
  }

  .your-comments__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 80px;
    margin-left: -5px;
    margin-bottom: 0;
  }

  .button-comments {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 175px;
    height: 52px;
    font-size: 17px;
  }

  .comments-one {
    font-size: 17px;
    margin-top: -7px;
  }

  .your-comments__wrapper-bottom {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }

  .your-comments__name {
    margin: 0;
    line-height: 28px;
  }

  .your-comments__mail {
    margin: 0;
  }

  .your-comments__paginator {
    border-top: 0;
    border-bottom: 0;
    width: 170px;
    margin: auto 0;
  }
}

@media (min-width: 1150px) {
  .your-comments {
    box-sizing: border-box;
    width: 1050px;
    margin: auto;
    margin-bottom: 65px;
    padding-left: 175px;
    padding-right: 0;
  }

  .your-comments__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 70px;
    margin-bottom: 10px;
  }

  .comments-one {
    width: 780px;
  }

  .button-comments {
    position: absolute;
    top: 80px;
    right: 0;
    width: 175px;
    height: 52px;
    font-size: 17px;
  }

  .your-comments__wrapper-bottom {
    margin-bottom: 53px;
  }
}
